.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.footer {
  background-color: #f5f5f5;
}
.footer-link{
  padding-right: 10px;
  padding-left: 10px;
}
html{
  scroll-behavior: smooth;
}